.plan{
    background-color: #f9f8fc;
    border-radius: 18px;
    width: 280px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 24px;
    position: relative;
}

.plan.active{
    background: var(--primary);
}

.plan label{
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 14px;
}

.plan.active label, .plan.active h5, .plan.active ul li.active{
    color: #fff;
}

.plan h5{
    font-size: 30px;
    margin: 0;
    margin-bottom: 14px;
    color: var(--primary);
    font-weight: bold;
}

.plan ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan ul li{
    margin-bottom: 16px;
    text-align: center;
    color: #ccc;
}

.plan ul li.active{
    color: #666;
}

.plan button{
    width: 114px;
    height: 38px;
    border-radius: 5px;
    background-color: orange;
    color: #fff;
    border:  none;
    position: absolute;
    bottom: -15.2px;
    outline: none;
    cursor: pointer;
}