.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--alternative-bg);
    padding: 44px 0;
}

.services-content {
    height: 100%;
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-topics{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
    flex-wrap: wrap;
}

.total{
    display: flex;
    justify-content: space-around;
    background: #fff;
    height: 154px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.total div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.total::before{
    content: '';
    width: 200px;
    height: 109px;
    background: url('../../assets/bg-service1.png');
    background-size: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.total::after{
    content: '';
    width: 200px;
    height: 109px;
    background: url('../../assets/bg-service2.png');
    background-size: 100%;
    position: absolute;
    right: 10%;
    top: 0;
    background-repeat: no-repeat;
}

.total div label{
    font-size: 34px;
    color: var(--primary);
    font-weight: bold;
    margin: 0 0 5px 0;
}

.total div span{
    font-weight: bold;
    color: #a09e9e;
}

.total img{
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 64px;
}

