.about-us {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--alternative-bg);
}

.about-content {
    height: 100%;
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-topics{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

